.main{
  background-color: #faf4e8;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-card{
  width: 382px;
  max-width: 382px;
  text-align: center;
}

.logo{
  margin: 32px auto 0px auto;
  bottom: 0 !important;
  font-size: 50px;
  font-weight: bolder;
  color: #126656;
  letter-spacing: 2.5px;
}

.title{
  font-size: 26px !important;
  font-weight: bold;
  color: #126656;
  letter-spacing: 1.5px;
}

.form{
  text-align: center;
}

ion-item{
  --highlight-background: #126656;
  width: 80%;
  display: inline-block;
  position: relative;
  ion-label{
    color: #126656 !important;
  }
}

.error{
  margin-left: 10%;
  color: red;
  display: flex;
  justify-content: flex-start;
}

.forgot-password{
  display: inline-block;
  position: relative;
  margin-top: 15px;
  width: 80%;
  text-align: right;
  a {
    // font-size: 14px !important;
    cursor: pointer;
    color: #333;
    text-decoration: none !important;
  }
}

ion-button{
  --background: #126656;
  width: 220px;
  margin: 16px auto 25px auto;
}

@media screen and (max-width: 599px){
  ion-card{
    margin: 15px 0px;
    padding: 24px;
    width: 93%;
    min-width: 270px;
    overflow-y: auto;
  }
  .logo{
    font-size: 35px !important;
    margin: 0px auto 0px auto;
  }
  .title{
    font-size: 22px !important;
  }
  ion-item, .forgot-password{
    width: 100%;
  }
  .error{
    margin-left: 0;
  }
  .forgot-password{
    margin-top: 0px;
    a{
      font-size: 14px !important;
    }
  }
  ion-button{
    width: 90%;
    margin: 0px auto;
  }
}
